/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Header */
header {
    background-color: #bbbbb5;
    padding: 10px;
    text-align: center;
}

header .logo img {
    width: 100px;
    height: auto;
}

/* Main Content */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Detalles del producto */
.product-details {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    gap: 20px; /* Espacio entre columnas */
}

/* Imagen del producto */
.product-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-img:hover {
    transform: scale(1.1);
}

/* Descripción del producto */
.product-description {
    flex: 2; /* Toma más espacio relativo */
    max-width: 600px;
}

.product-description h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.product-description p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.product-description ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Botón Comprar */
.buy-button {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.buy-button:hover {
    background-color: #ff0000;
}

/* Estilos para el video */
.product-video {
    flex: 1; /* Toma menos espacio relativo */
    text-align: center;
    background-color: #f5f5f5; /* Gris claro original */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.product-video h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.product-video iframe {
    width: 100%; /* Se adapta al contenedor */
    max-width: 360px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid  #ff9300;
     /* Borde naranja */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #bbbbb5;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}


